@import url(TeamSpeak.css);

:root, ::after, ::before {
    --custom-color-accent-light: #f0d10a;
    --custom-color-accent-dark: #b09902;
    --custom-color-slider1: #f0d10a;
    --custom-color-slider2: #fff08c;
}
