@import url(TeamSpeak.css);

:root, ::after, ::before {
    --custom-color-accent-light: #F74515;
    --custom-color-accent-dark: #b1300d;
    --custom-color-slider1: #F74515;
    --custom-color-slider2: #ff9173;
}
